@page "/"

<link href="/css/showAll.css" rel="stylesheet">

<div class="card-container">
    <div class="card">
        <img src="/css/images/VM.png" alt="Image Description">
        <div class="card-text">
            <p>Your text goes here</p>
        </div>
    </div>
</div>