@page
@model AdminSide.Pages.CreateProductModel
@{

}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
    <title>Remove City</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="/css/admin.css" rel="stylesheet">
    <link href="/css/updateProduct.css" rel="stylesheet">
</head>

<body>
    <div class="center-wrapper">
        <div class="Create-container">
            <div class="Create-box">

                <h2>Create a Product</h2>

                <p class="Info">Enter the new information on the product you want to Create</p>

                <form method="post" asp-page-handler="CreateProduct" id="first-step" class="visible">

                    <input type="text" style="text-align:center;" value="@AdminSide.Model.AllProperties.CityName" text
                        readonly>

                    <input type="text" style="text-align:center;" name="ProductName" placeholder="Product Name" required/>

                    <input type="text" style="text-align:center;" name="URL" placeholder="URL" required/>

                    <input type="number" style="text-align:center;" name="Stock" placeholder="stock" required/>

                    <input type="number" style="text-align:center;" name="Price" placeholder="Price" required/>

                    <input type="number" style="text-align:center;" name="BrandID" placeholder="Brand ID" required/>

                    <input type="number" style="text-align:center;" name="TypeID" placeholder="Type ID" required/>

                    <button type="submit" style="margin-top: 1vh; height: 5vh;">Done</button>
                </form>
                <button onclick="goBack()" style="margin-top: 1vh; height: 5vh;">Back</button>

                <script>
                    function goBack() {
                        window.history.back(); // Or you can redirect to a specific URL
                    }
                </script>
            </div>
        </div>
    </div>

</body>

</html>
