@page "/"

@model IndexModel

@{
    ViewData["Title"] = "Kroells Vending";
    decimal balance = 500.00m;
    AdminSide.Database.Product productData = new AdminSide.Database.Product();
    List<AdminSide.Database.Product> products = productData.GetProducts();
}

<!-- LONG LIVE PLAGIARISM -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="css/client-side.css">
    <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
    <title>Kroells vending</title>
</head>

<body>
    <div class="navbarI">
        <div class="company-name">
            <img src="https://cdn3.emoji.gg/emojis/3194-steamhappy.png"></img>
            <div class="company-text">Kroell's vending machines</div>
        </div>
        <button id="loginBtn" class="admin-button" role="button">Admin Panel</button>
        <a asp-page="/showAll"><button class="locations-button" role="modal">Locations</button></a>
    </div>

    <div id="loginModal" class="modalI">
        <div class="modal-contentI">
            <span class="close-modalI" onclick="closeModal()">&times;</span>
            <h2>Login</h2>
            <form method="post">
                <label for="Employee_Number"><b>Employee Number</b></label>
                <input type="text" placeholder="Enter your employee number" name="EmployeeNumber" required>

                <label for="username"><b>Username</b></label>
                <input type="text" placeholder="Enter your username" name="username" required>

                <label for="password"><b>Password</b></label>
                <input type="password" placeholder="Enter your password" name="password" required>

                <div class="remember">
                    <input type="checkbox" name="remember"> Remember me </input>
                </div>

                <button type="submit">Login</button>
            </form>
        </div>
    </div>

    <div class="vending-machine-wrapper">
        <div class="vending-machine-container">
            @foreach (AdminSide.Database.Product product in products)
            {
                decimal price = product.Price;
                string img = product.ImageLink;
                string name = product.Name;

                <div class="vending-machine-item" data-tooltip="PRODUCT PRICE: @price">
                    <img src="@img" />
                    <button class="buy-item" data-product="@name" data-price="@price">SELECT</button>
                </div>
            }
        </div>
    <div class="selection-container">
    <div class="display">
    <p>Balance: @balance Kr </p>
    </div>
        <div class="selection-showcase">
            <section>
            <p></P>
                <article class="item">
                    <p class="order-product"></p><p class="price"></p>
                </article>
            </section>

        </div>
            <div class="purchase">
            <button class="clear-item-btn">Clear</button>
            <button class="purchase-item-btn">Buy</button>
        </div>
    </div>
    </div>   
</body>

</html>