@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<link href="/css/showAll.css"/ rel="stylesheet">

<div class="card-container">
    
    @foreach (string item in Model.VMs())
    {
        <!-- Card 1 -->
        <div class="card">
            <img src="/css/images/VM.png" alt="Image Description">
            <div class="card-text">
                <p>@item</p>
            </div>
        </div>
    }

</div>
